# Project: Hypothesis Testing for Microtransactions
Brian is a Product Manager at FarmBurg, a company that makes a farming simulation social network game.  In the FarmBurg game, you can plow, plant, and harvest different crops.

Today, you will be acting as Brian's data analyst for an A/B Test that he has been conducting.

## Part 1: Testing for Significant Difference

Start by importing the following modules that you'll need for this project:
- `pandas` as `pd`

In [1]:
import pandas as pd

Brian tells you that he ran an A/B test with three different groups: A, B, and C.  You're kind of busy today, so you don't ask too many questions about the differences between A, B, and C.  Maybe they were shown three different versions of an ad.  Who cares?

(HINT: you will care later)

Brian gives you a CSV of results called `clicks.csv`.  It has the following columns:
- `user_id`: a unique id for each visitor to the FarmBerg site
- `ab_test_group`: either `A`, `B`, or `C` depending on which group the visitor was assigned to
- `click_day`: only filled in *if* the user clicked on a link to purchase

Load `clicks.csv` into the variable `df`.

In [2]:
df = pd.read_csv('clicks.csv')
df.head()

                                user_id group click_day
0  8e27bf9a-5b6e-41ed-801a-a59979c0ca98     A       NaN
1  eb89e6f0-e682-4f79-99b1-161cc1c096f1     A       NaN
2  7119106a-7a95-417b-8c4c-092c12ee5ef7     A       NaN
3  e53781ff-ff7a-4fcd-af1a-adba02b2b954     A       NaN
4  02d48cf1-1ae6-40b3-9d8b-8208884a0904     A  Saturday

Define a new column called `is_purchase` which is `Purchase` if `click_day` is not `None` and `No Purchase` if `click_day` is `None`.  This will tell us if each visitor clicked on the Purchase link.

In [3]:
df['is_purchase'] = df.click_day.apply(lambda day: 'Purchase' if pd.notnull(day) else 'No Purchase')
df.head()

                                user_id group click_day  is_purchase
0  8e27bf9a-5b6e-41ed-801a-a59979c0ca98     A       NaN  No Purchase
1  eb89e6f0-e682-4f79-99b1-161cc1c096f1     A       NaN  No Purchase
2  7119106a-7a95-417b-8c4c-092c12ee5ef7     A       NaN  No Purchase
3  e53781ff-ff7a-4fcd-af1a-adba02b2b954     A       NaN  No Purchase
4  02d48cf1-1ae6-40b3-9d8b-8208884a0904     A  Saturday     Purchase

We want to count the number of users who made a purchase from each group.  Use `groupby` to count the number of `Purchase` and `No Purchase` from each `group`.  Save your answer to the variable `purchase_counts`.

**Hint**: Group by `group` and `is_purchase` and the function `count` on the column `user_id`.

In [4]:
purchase_counts = df.groupby(['group', 'is_purchase']).user_id.count().reset_index()
purchase_counts

  group  is_purchase  user_id
0     A  No Purchase     1350
1     A     Purchase      316
2     B  No Purchase     1483
3     B     Purchase      183
4     C  No Purchase     1583
5     C     Purchase       83

This data is *categorical* and there are *more than 2* conditions, so we'll want to use a chi-squared test to see if there is a significant difference between the three conditions.

Start by filling in the contingency table below with the correct values:
```py
contingency = [[groupA_purchases, groupA_not_purchases],
               [groupB_purchases, groupA_not_purchases],
               [groupC_purchases, groupA_not_purchases]]
```

In [5]:
purchase_counts_pivot = purchase_counts.pivot(columns='is_purchase', index='group', values='user_id').reset_index()
purchase_counts_pivot

is_purchase group  No Purchase  Purchase
0               A         1350       316
1               B         1483       183
2               C         1583        83

In [6]:
purchase_counts_pivot['Totals'] = purchase_counts_pivot['No Purchase'] + purchase_counts_pivot['Purchase']
purchase_counts_pivot

is_purchase group  No Purchase  Purchase  Totals
0               A         1350       316    1666
1               B         1483       183    1666
2               C         1583        83    1666

In [7]:
# Calculate success rate based on totals for each group.
purchase_counts_pivot['Success_Rate'] =  (purchase_counts_pivot['Purchase'] / purchase_counts_pivot['Totals'])
purchase_counts_pivot

is_purchase group  No Purchase  Purchase  Totals  Success_Rate
0               A         1350       316    1666      0.189676
1               B         1483       183    1666      0.109844
2               C         1583        83    1666      0.049820

Now import the function `chi2_contingency` from `scipy.stats` and perform the chi-squared test.

Recall that the *p-value* is the second output of `chi2_contingency`.

In [8]:
from scipy.stats import chi2_contingency

In [9]:
contingency_table = [[316, 1350], [183, 1483], [83, 1583]]
tstat, pval, dof, expected = chi2_contingency(contingency_table)
print ('The pvalue for the Chi Square Test (the chi2_contingecy) is {}.'.format(pval))

The pvalue for the Chi Square Test (the chi2_contingecy) is 2.41262135467e-35.

Great! It looks like a significantly greater portion of users from Group A made a purchase.

## Part 2: Testing for Exceeding a Goal

Your day is a little less busy than you expected, so you decide to ask Brian about his test.

**You**: Hey Brian! What was that test you were running anyway?

**Brian**: It was awesome! We are trying to get users to purchase a small FarmBurg upgrade package.  It's called a microtransaction.  We're not sure how much to charge for it, so we tested three different price points: \$0.99, \$1.99, and \$4.99.  It looks like significantly more people bought the upgrade package for \$0.99, so I guess that's what we'll charge.

**You**: Oh no! I should have asked you this before we did that chi-squared test.  I don't think that this was the right test at all.  It's true that more people wanted purchase the upgrade at \$0.99; you probably expected that.  What we really want to know is if each price point allows us to make enough money that we can exceed some target goal.  Brian, how much do you think it cost to build this feature?

**Brian**: Hmm.  I guess that we need to generate a minimum of $1000 per week in order to justify this project.

**You**: We have some work to do!

How many visitors came to the site this week?

Hint: Look at the length of `df`.

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4998 entries, 0 to 4997
Data columns (total 4 columns):
user_id        4998 non-null object
group          4998 non-null object
click_day      582 non-null object
is_purchase    4998 non-null object
dtypes: object(4)
memory usage: 156.3+ KB

Let's assume that this is how many visitors we generally get each week.  Given that, calculate the percent of visitors who would need to purchase the upgrade package at each price point (\$0.99, \$1.99, \$4.99) in order to generate \$1000 per week.

In [17]:
# we can confirm the number of visitors by also using len()
len(df)

4998

In [27]:
# Determine the number of customers who need to purchase an upgrade at $0.99 to generate an additional revenue of $1000.
# Then, calculate expected success rate (percent) based on a current weekly visitor count of 4998.

import numpy as np

number_at_99 = 1000/0.99
percent_at_99 = (number_at_99 / 4998)

print ('In order to generate an additional revenue of $1000:')
print
print ("The number of people who need to purchase an upgrade at $0.99 is {}.".format(np.ceil(number_at_99) ) )
print ("The percent of people who need to purchase (expected success rate) an upgrade at $0.99 is {}.".format(percent_at_99))
print

number_at_199 = 1000/1.99
percent_at_199 = (number_at_199 / 4998)
print ("The number of people who need to purchase an upgrade at $1.99 is {}.".format(np.ceil(number_at_199)))
print ("The percent of people who need to purchase (expected sucess rate) an upgrade at $1.99 is {}.".format(percent_at_199))
print




number_at_499 = 1000/4.99
percent_at_499 = (number_at_499 / 4998)
print ("The number of people who need to purchase an upgrade at $4.99 is {}.".format(np.ceil(number_at_499)))
print ("The percent of people who need to purchase (expected success rate) an upgrade at $4.99 is {}.".format(percent_at_499))
print

In order to generate an additional revenue of $1000:

The number of people who need to purchase an upgrade at $0.99 is 1011.0.
The percent of people who need to purchase (expected success rate) an upgrade at $0.99 is 0.202101042437.

The number of people who need to purchase an upgrade at $1.99 is 503.0.
The percent of people who need to purchase (expected sucess rate) an upgrade at $1.99 is 0.100542729655.

The number of people who need to purchase an upgrade at $4.99 is 201.0.
The percent of people who need to purchase (expected success rate) an upgrade at $4.99 is 0.0400961988002.

Note that you need a smaller percentage of purchases for higher price points.

Now, for each group, perform a binomial test using `binom_test` from `scipy.stats`.
- `x` will be the number of purchases for that group
- `n` will be the total number of visitors assigned to that group
- `p` will be the target percent of purchases for that price point (calculated above)

Recall that:
- Group `A` is the \$0.99 price point
- Group `B` is the \$1.99 price point
- Group `C` is the \$4.99 price point

In [12]:
from scipy.stats import binom_test

In [13]:
# Determine pval for Test Group A using the Binomial Test.
Group_A_Pval = binom_test(316, n=1666, p=0.20)
print (Group_A_Pval)

0.297916423115
0.297916423115

In [14]:
# Determine pval for Test Group B using the Binomial Test.
group_B_pval = binom_test(183, n=1666, p=0.10)
print group_B_pval

0.177886659606

In [15]:
# Determine pval for Test Group C using the Binomial Test.
group_C_pval = binom_test(83, n=1666, p=0.04)
print group_C_pval

0.0451729895541

If any of the groups passed the binomial test with $p < 0.05$, then we can be confident that enough people will buy the upgrade package at that price point to justify the feature.

Which price point should Brian go with?  Did this surprise you?

In [16]:
print ('Based on the pvalues from the Binomal Test for each group, it looks like the upgrade package should be priced at $4.99')

Based on the pvalues from the Binomal Test on each group, it looks like the upgrade package should be priced at $4.99